h1 {
    font-family: "Georgia", Serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

img {
    max-width: 60%;
    max-height: 60%;
    margin: 5px;
}

/* Removing horizontal scroll */

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  text-decoration: none;
}

/* footer */
.ft{
  padding: 20px;
  background-color: lime;
  width: 100%;
  position: relative;
}

/* produto */

.produto {
  display: table;
  margin: 0 auto;
  text-align: center;  
}

.produtos {
  width: 100%;
}


/* Slider */



/* CAIXINHAS */

/* seta tamanho */
.wrapper {
  display: table; 
  height: 90%; 
  width: 100%; 
  position: relative; 
  overflow: hidden;
  background-color: blue;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* seta posição */
.positioner {
  /*#position: relative; 
  #top: 50%; */
  display: table-cell; 
  vertical-align: middle;
}

.box-bg {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.box-content {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

/* BUTTONS */

.btn-start {
  padding: 20px;
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  border-radius: 15px;
}

.btn-next {  
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

/* NAV BAR STUFF */

.navbar {
    margin-bottom: 0;
}

.navbar-default {
  background-color: #800080;
  border-color: #000;
  border-radius: 0px;
  min-height:40px !important
}
.navbar-default .navbar-brand {
  color: #f5dc00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #f5dc00;
}
.navbar-default .navbar-nav > li > a {
  color: #f5dc00;
  padding-top:10px !important; 
  padding-bottom:10px !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #f5dc00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #f5dc00;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #f5dc00;
}
.navbar-default .navbar-toggle {
  border-color: #f5dc00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f5dc00;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5dc00;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f5dc00;
}
.navbar-default .navbar-link {
  color: #f5dc00;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5dc00;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #f5dc00;
  }
}