h1 {
    font-family: "Georgia", Serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

img {
    max-width: 80%;
    margin: 10px;
}

/* Removing horizontal scroll */

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* NAV BAR STUFF */

.navbar-default {
  background-color: #000000;
  border-color: #000;
  min-height:40px !important
}
.navbar-default .navbar-brand {
  color: #f5dc00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #f5dc00;
}
.navbar-default .navbar-nav > li > a {
  color: #f5dc00;
  padding-top:10px !important; 
  padding-bottom:10px !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #f5dc00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #f5dc00;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #f5dc00;
}
.navbar-default .navbar-toggle {
  border-color: #f5dc00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f5dc00;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5dc00;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f5dc00;
}
.navbar-default .navbar-link {
  color: #f5dc00;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5dc00;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #f5dc00;
  }
}